<div>
    <div class="heads">
        <button>volver</button>
        <h2>ANIMALES</h2>

    </div>
    <div class="center">
        <table>

            <th>titulo1</th>
            <th>titulo2</th>

            <tr>
                <td>definicion1</td>
                <td> definicion2</td>
            </tr>
            <tr>
                <td>definicion1</td>
                <td> definicion2</td>
            </tr>
        </table>
        <div class="description">
            <h3>Nombre</h3>
            <p>nombre del link</p>
            <h3>Descripción</h3>
            <p>descripción del link</p>
            <h3>autor</h3>
            <p>Descripción del link</p>
            <button>Navegar</button>
        </div>

    </div>
</div>