<div >
    <div  >
        <!-- <div  *ngIf='entries.length>0'> -->

        <!-- *ngFor="let selected of selectedAnimals" -->
        <!-- <div class="heads" *ngFor="let selected of entries">  -->

        <div class="heads" >
            <button routerLink='/home'>volver</button>
            <h2>Animals</h2>

        </div>
        <div class="center" >
            <table  >

                <th>Nombre</th>
                <th>Descripción</th>

                <tr *ngFor="let selected of selectedAnimals; let i = index">
                    <td (click)="openDescription(i)" >{{selected.API}}</td>
                    <td >{{selected.Description}}</td>
                </tr>
               
            </table>
            <div class="description" *ngIf="selectedDescriptor!=0" >
                <h3>Nombre</h3>
                <p>{{selectedDescriptor.API}}</p>
                <h3>Descripción</h3>
                <p>{{selectedDescriptor.Description}}</p>
                <h3>autor</h3>
                <p>{{selectedDescriptor.Auth}}</p>
                <a href={{selectedDescriptor.Link}} target="_blank"><button>Navegar</button></a>
            </div>

        </div>
    </div>
</div>