
    <div >
            <div  >
              
                <div class="heads" >
                    <button routerLink='/home'>volver</button>
                    <h2>Rules</h2>
        
                </div>
                <div class="center" >
                <p> Estimado Asociado, recuerda que para mantener el orden y las buenas maneras de nuestra estimada asociación, debemos disfrutar de los links siguiento las pautas acordadad en nuestra reunión fundacional:</p>
                <ol>
                    <li>Primero los links de animales</li>
                    <li>Después los de libros</li>
                    <li>Después los de música</li>
                    <li>Y por último los de salud</li>
                </ol>
                   
        
                </div>
            </div>
        </div>