<div>
    <h2>Bienvenido al nuevo repositorio de la</h2>
    <h1>
        <span>A</span>
        <span>F</span>
        <span>L</span>
        <span>M</span>
    </h1>
    <div class='nav'>
        <button routerLink="/animals"  *ngIf='animalElement!==true' (onClick)="routeValidation($event)" change="true">Animales</button>
        <button routerLink="/books">Libros</button>
        <button  routerLink="/music">Música</button>
        <button routerLink="/health">Salud</button>
    </div>
</div>